/* TO GET AN IDEA OF THE CSS YOU WILL LIKELY BE USING, SEE THE LISTS BELOW. */

        /* 
        
        Spacing 

            - padding (shorthand and/or specific properties like padding-bottom, etc.)

            - margin, (shorthand and/or specific properties like margin-top, etc.)

            - letter-spacing, word-spacing, line-height

            - width, max-width, min-width
            - height, max-height, min-height

        Typography 

            - font-family, font-size, font-style, font-weight

            - text-decoration, text-align

            - color

            - text-shadow, text-transform

        Box, Layout and Border 

            - border (shorthand and/or specific properties like border-top, border-bottom-radius, border-width, etc.)

            - box-shadow

            - display, float, align-items, align-content

            - grid-template-columns, grid-column-gap

            - transform

        Other

            - :nth()-child (to target specific child elements)

            - :focus, :hover, :active (to target link states)

            - @font-face or @import (to import typefaces)

        */


/* ------ START WRITING YOUR CODE BELOW ------ */


/* General setup */

* {
    box-sizing: border-box;
}

html {
    font-size:16px;
}

body {
    margin: 1.5rem auto;
    width:90%;
    min-width:56.25rem;
}

/* Layout */

main {
    overflow:auto;
    min-width:45rem;
    
}

section {
    float: left;
    min-width: 22.5rem;
    width:50%;
}

figure {
    width:60%;
    margin:0 10% 0 0;
    float:left;
}

figure img {
    width:100%;
    max-width:25rem;
}

figcaption {
    margin:.375rem 0;
}

.long-list {
    margin-top:0;
}

nav {
    float: left;
    width:20rem;
    word-spacing: 15rem;
    white-space: 5rem;
    border-spacing: 5rem;
}

footer {
    text-align: right;
    clear: both;
    margin-top:1.5rem;
}

section, aside, nav, footer {
  padding: .5rem;
}

/* header and footer */

header, footer {
  border-top: .125rem solid #33658A;
  border-bottom: .125rem solid #33658A;
}

/* ------ START WRITING YOUR CODE BELOW THIS LINE ------ */

/* NO changes should be made to any of the code above. */

/* NOTE: While you will be using some of the same CSS properties, the VALUES 
   may need to be different in order to style the page correctly. */



/* Imported Typfaces */
@font-face {
  font-family:"Josefin Slab";
    src:url(..fonts/josefinlab-regular.ttf); 
    font-weight:normal;
    font-style:normal;
}
    
@font-face {
  font-family: Montserrat;
  src:url(..fonts/montserrat-regular.ttf);
  font-weight: normal;
    font-style: normal;
}




/* Typography Styles */

html{
    
}
h1{
    font-family: Josefin Slab;
    font-size: 3.75rem;
    margin: 1.125rem;
    text-align: center;
    letter-spacing: 0.125rem;
}
h2{
    font-family: Josefin Slab;
    font-size: 1.5rem;
    margin: 1.125rem;
    letter-spacing: .0125rem;
}
h2 + p{
    font-family: Josefin Slab;
    font-size: .75rem;
    margin: 1.125rem;
    letter-spacing: .0125rem;
    word-spacing: .125
    
}
p{
    font-family: Josefin Slab;
    font-size: .75rem;
    letter-spacing: .031rem;
    word-spacing: .125
}
li{}
figcaption{
    font-family: Josefin Slab;
    font-size: .75rem;
    margin-bottom: 2rem;
}

/* Link Styling */


a:link{
    text-decoration: none;
        color: blue;
        background-color: white;
}
a:visited{
    text-decoration: none;
        color: black;
}
A:focus{
    text-decoration: none;
        color: inherit;
    
}
a:hover{
    text-decoration: none;
        color: inherit;
}

/* List Styling */
ul{
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 0;
    margin-right: 0;
    list-style-type: square;
}
ol{
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 0;
    margin-right: 0;
    list-style-type: lower-alpha;
}
.long-list a:hover{
    text-transform: uppercase;
}



/* Navigation Menu */
#nav {
	width: 100%;
	float: left;
	margin: 0 0 1em 0;
	padding: 0;
	background-color: #f2f2f2;
	border-bottom: 1px solid #ccc;  }
#nav ul {
	list-style: none;
	width: 800px;
	margin: 0 auto;
	padding: 0; }
#nav li {
	float: left; }
#nav li a {
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	color: #069;
	border-right: 1px solid #ccc; }
#nav li:first-child a {
	border-left: 1px solid #ccc; }
#nav li a:hover {
	color: #c00;
	background-color: #fff; }
